.link {

    margin-bottom: 25px;
    padding: 12px 0;
    transition: 0.2s background;

    
}
.link:hover {

    background: #e0e4e7;

}
.link > p {

    width: 70%;
    font-weight: 700;
    font-size: 15px;
    margin: 0 auto;
    text-align: center;

}
