.active-request{
    border-radius: 5px;
    min-height: 100%; 
    border: 1px solid black;
    background-color: white;
    padding: 10px;
}

.active-request * {
    margin: 0;
}

.active-request p {
    color: black;
    text-align: left;
    margin-left: 10px;

}

.request-title {
    margin-bottom: 10px;
}

.request-title p:nth-child(1) {
    font-size: 20px;
    font-weight: 700;
}

.request-title p:nth-child(2) {
    font-size: 13px;
}

.request-description p:nth-child(1) {
    font-size: 20px;
    color: black;
    font-weight: 700;
}
