.user {
  display: flex;
  flex-direction: row;
}
.profile_picture {
  width: 50px;
  align-self: center;
}
.profile_picture > img {
  border-radius: 100%;
  width: 50px;
}
.profile_name {
  align-self: center;
}
.profile_name > p {
  margin-left: 15px;
  font-size: 20px;
}

.profile_name > p > span {
  color: #0d4b7f;
  font-weight: 700;
}
