.create_maintenance_request {


}
.content {

    display: flex; 

}

.left_pane {

    flex-grow: 1;
    flex-basis: 0;

}
.right_pane {

    flex-grow: 1;
    flex-basis: 0px;
}

textarea {

    appearance: none;
    border: 2px solid #bfbfbf;
    resize: none;
    width: 100%;
    border-radius: 10px;
    transition: 0.2s all ease-in-out;

}

textarea:focus {

    box-shadow: 0 2px 10px 0.2px rgb(185, 185, 185);
    border-color: black;
    outline: none;

}
textarea:hover {

    box-shadow: 0 2px 10px 0.2px rgb(185, 185, 185);

}
select {

    outline: none;
    -webkit-appearance: none !important;
    background: #ffffff;
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
    width: 130px;
    height: 30px;
    font-size: 12px;
    border-radius: 12px;
    border: 2px solid #bfbfbf;
    padding: 0 15px;
    color: #727272;
    box-shadow: #eeeeee 0 3px 4px 1px;
    margin-right: 8px;
    
}

.page_title {

    margin: 15px auto 0 60px;

}
.page_title p {

    font-weight: 700;
    font-size: 25px;
    margin-top: 10px;

}