.navigation {
    display: flex;
    flex-direction: column;
    background: white;
    box-shadow: 0 0 10px 2px rgb(185, 185, 185);
}
.logo {

    display: flex;
    justify-content: center;
    margin-top: 50px;

}
.logo > img {

    width: 40%;
    max-width: 120px;
}
.links {

    margin-top: 50px;

}
.selected-page {

    background: #e0e4e7;

}