.button > button {
  padding: 8px;
  font-size: 12px;
  font-weight: 700;
  border-radius: 10px;
  border: 0px;
  color: white;
  background: #2e2e2e;
  transition: 0.2s box-shadow ease-out;
}

button:hover {
  box-shadow: 0 2px 10px 0.2px rgb(185, 185, 185);
}

.colorless_button {
  background: #c2c2c2;
}
